body {
  font-family: "Source Sans Pro", sans-serif;
  padding: 20px 60px;
  background: rgba(185, 147, 214, 0.2); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    rgba(78, 116, 193, 0.2),
    rgba(123, 50, 179, 0.2)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    rgba(78, 116, 193, 0.2),
    rgba(123, 50, 179, 0.2)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
  text-decoration: none;
  color: black;
}
